.text-action {
  color: $action-color;
}
.text-warning {
  color: $warning-color;
}
.uppercase {
  text-transform: uppercase;
}
.view-on-mobile{
  display: block;
  @include media($tablet-width) {
    display: none;
  }
  @include media($desktop-width) {
    display: none;
  }
}
.view-on-tablet{
  display: none;
  @include media($tablet-width) {
    display: block;
  }
  @include media($desktop-width) {
    display: block;
  }
}

.image-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  > li {
    flex-basis: 50%;
  }
  @include media($desktop-width) {
    > li {
      flex-basis: 20%;  
    }
  }
}
