#site-content{
  section {
    padding-top: $base-spacing*2;
    padding-bottom: $base-spacing*2;
  }

  h3 {
    color: $secondary-color;
    margin-bottom: $base-spacing;
    @include media($desktop-width) {
      font-size: modular-scale(4);
      line-height: 1.4;
    }
  }

  .row.entry {
    align-items: center;
    //padding-top: $base-spacing*2;
    //padding-bottom: $base-spacing*2;
    &:nth-child(even) {
      flex-direction:  row-reverse;
    }

    margin-bottom: $base-spacing*4;
    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      color: $secondary-color;
    }
    @include media($desktop-width) {
      h4 {
        font-size: modular-scale(3);
        line-height: 1.2;
        margin-bottom: $base-spacing;
      }
    }
  }

  #jumbotron {
    background-size: contain;
    background-repeat: no-repeat;

    ul {
      margin: 0 0 $base-spacing;
      padding: 0;
      > li {
        display: inline-block;
        margin-right: $base-spacing;
        .fa {
          margin-right: $small-spacing;
        }
      }
    }
    .button {
      background-color: $warning-color;
      text-transform: uppercase;
    }
    
    @include media($desktop-width) {

      background-size: cover;

      background-position: 50% 50%;

      padding-top: $base-spacing*8;
      padding-bottom: $base-spacing*6;
      .content {
        max-width: 60%;
      }
      h2 {
        font-size: modular-scale(4);
        margin-bottom: $base-spacing;
      }
      .button {
        font-size: modular-scale(2);
        @include padding($base-spacing $base-spacing*2);
      }
      li {
        font-size: modular-scale(1);
      }
    }


  }

  #downloads {

    background-color: $action-color;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
    }

    @include media($desktop-width) {
      position: relative;
      &:after {
        content: '';
        background-color: $secondary-color;
        position: absolute;
        z-index: 500;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
      }
      .container {
        position: relative;
        z-index: 1000;
      }
      a {
        font-size: modular-scale(2);
      }
    }

  }

  #verbiage {

    padding-top: $base-spacing*3;
    padding-bottom: $base-spacing*3;

    p {
      color: $secondary-color;
      text-align: center;
      font-weight: 400;
      max-width: 960px;
      line-height: 1.4;
      margin: 0  auto $base-spacing;
    }
    @include media($desktop-width) {
      p {
        font-size: modular-scale(2);
      }
    }
  }
  #articles {
    .row {

    }
  }
  #explanation {
    @include media($desktop-width) {
      ul {
        max-width: 960px;
        margin: 0  auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > li {
          flex-basis: 30%;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      > li {
        margin: 0 $small-spacing $base-spacing;
        text-align: center;
        background-color: tint($light-gray, 80);
        @include padding($base-spacing);
        .thumbnail {
          min-height: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h4 {
          line-height: 2;
          color: $action-color;
        }
      }
    }
  }

  #top-seven {
    background-color: tint($action-color, 90);
    .content {

    }
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: modular-scale(1);
      color: $secondary-color;

      max-width: 720px;
      margin: 0 auto $base-spacing;

    }

  }
  #programs {
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
    }


  }
  #reasons {
    background-color: $dark-gray;

    h3 {
      color: tint($light-gray, 80);
      text-align: center;
    }
    p {
      color: tint($light-gray, 10);
      max-width: 800px;
      text-align: center;
      margin: 0 auto $base-spacing*2;
    }
    ul, ol {
      list-style: none;
      > li {
        color: white;
        position: relative;
        counter-increment: item;
        padding-left: $base-spacing*1.5;
         &:before {
           content: counter(item);
           color: $warning-color;
           position: absolute;
           top: 5px;
           left: 0;
           font-size: modular-scale(3);
           line-height: 1;
          }
      }
    }

    @include media($desktop-width) {
      p {
        font-size: modular-scale(1);
      }
      ul, ol {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        > li {
          max-width: 60%;
          margin: 0 auto $base-spacing;

        }
      }
    }




  }

  #drama {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: 500;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,0.35);
    }
    .container {
      position: relative;
      z-index: 1000;
    }
    h3 {
      color: tint($light-gray, 80);
    }
    ul {
      margin: 1.5rem;
    }
    p, li {
      color: tint($light-gray, 80);
      line-height: 1.4;
    }
    @include media($desktop-width) {
      padding-top: $base-spacing*4;
      padding-bottom: $base-spacing*4;
      &:after {
        background-color: rgba(0,0,0,0);
      }
      .content {
        max-width: 30%;
      }
    }

  }

  #case-studies{

    h3 {
      color: $secondary-color;
      margin-bottom: $base-spacing*3;
      text-align: center;
    }

  }

  #ui {
    background-color: $secondary-color;
    text-align: center;

    h4 {
      color: white;

      line-height: 1.4;
      margin-bottom: $base-spacing;
      text-align: center;
      @include media($desktop-width) {
        font-size: modular-scale(3);
      }
    }

  }

  #form {
    background-color: $dark-gray;
    pre {
      color: $medium-gray;
    }
    h3{
      color: white;
      text-align: center;
    }
    ul.fa-ul {
        @include media($desktop-width) {
          text-align: center;
          > li {
            display: inline-block;
            margin-right: $base-spacing*2;
            color: white;
        }
      }
    }
    .intl-tel-input {
      display: block;
      margin-bottom: $base-spacing;
    }
    .mauticform_wrapper {
      max-width: 720px;
      margin: 0 auto;
      .mauticform-button{
        background-color: $warning-color;
        text-transform: uppercase;

      }
    }
  }

}
