#site-footer {
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing*2;
  background-color: $light-gray;
  .colophon {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2tpx;
    color: $medium-gray;
    a {
      text-decoration: none;
      color: $medium-gray;
    }
  }
}
