.menu {
    max-height: 0;
    overflow: hidden;
    transition: all $base-timing $base-duration;
    margin: 0;
    padding: 0;
    list-style: none;
    @include media($desktop-width) {
      max-height: 100vh;
      display: table;
      > li {
        display: table-cell;
      }
    }

    &.is-active {
      max-height: 100vh;
      border-top: $base-border;
    }

    > li {
        > a {
          display: block;
          color: $light-gray;
          text-decoration: none;
          @include padding($small-spacing $base-spacing);
          &:hover, &.active {
            background-color: $action-color;
          }
        }
    }
}
